h1 {
    text-align: center;
    background-color: #4b4a4a;
    color: #d2cece;
}

h2 {
    width: 80%;
    background-color: greenyellow;
    color: green;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;

}

h4 {
    background-color: blue;
    color: white;
}